@charset "ISO-8859-1";

/*Johan som har skrevet */
#score table,
#score th,
#score td,
#score tr {
  border: 1px solid black;
  border-collapse: collapse;
}

/*Class styling. Har en terning locked i classList får den bakgrunnsfarge grønn. Har den Unlocked får den hvit.*/
.locked {
  background-color: #51df70;
}
.unlocked {
  background-color: white;
}

/*Styling for terning elementer*/
#die_1, #die_2, #die_3, #die_4, #die_5 {
	
	border: 1px solid black;
	display: inline-block;
    padding: 1rem 1rem;

    
}
/*Bakgrunnen blir grønn når spiller holder musen over terning*/
	#die_1:hover{
		  	background-color: rgb(128, 255, 128);
	}
	#die_2:hover{
		   background-color: rgb(128, 255, 128);
	}
	#die_3:hover{
		   background-color: rgb(128, 255, 128);
	}
	#die_4:hover{
		   background-color: rgb(128, 255, 128);
	}
	#die_5:hover{
		   background-color: rgb(128, 255, 128);
	
	}

/*Hvis jeg må forklare denne eller den under kommer jeg til å miste det heeeeeelt*/
#dice{
  height: 100px;
  width: 300px;
  padding: 50px;
  margin: 50px auto;
  position: absolute;
  left: auto;
	
}

/*KJØØØØØØØØH*/
button {
  background-color: rgb(140, 141, 150);
  border-radius: 8px;
  border: none;
  color: rgb(17, 16, 16);
  padding: 1rem 1rem;
  position: relative;
  right: auto;
  text-transform: uppercase;
  width: 200px;
}

.vis {
	display: flex;
}






	
	
	